 <section id="start">
  <div class="container">
 
   <div class="header">
    <h2>Send us a message</h2>
    <p>We’re currently accepting new clients. Let us know how we can help!</p>
   </div>
   <form accept-charset="UTF-8" action="https://formkeep.com/f/313e849ead88" method="POST" id="contact-form">
    <div class="row">
     <div class="col-md-6">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="email" placeholder="Email Address" />
      <input type="text" name="website" placeholder="Website" class="" />
     </div>
     <div class="col-md-6">
      <textarea name="message" placeholder="Message"></textarea>
      <input type="submit" value="Send a Message" class="btn btn-large"/>
     </div>
    </div>
    <div class="row">
      <div id="error"></div>
    </div>
   </form>
   
   <div class="data-status"></div> 
   
  </div> 
 </section>
 