<footer class="footer-copyright">
  <div class="container">
   <img src="images/logo-2.png" alt="TSG" />
   <p>&copy; 2014 Dune Labs, LLC - All rights reserved.</p> <!-- copyright text -->
   <p>Made with <i class="fa fa-heart" style="color:red;"></i> in Michigan.</p>
  </div> <!-- End container -->
 </footer> <!-- End footer-copyright -->
 