 <section id="what">
  <div class="container">
   <div class="row">
    
    <div class="col-sm-3 item"> <!-- 3 -->
     <i class="fa fa-desktop"></i>
     <h2>High-performance websites</h2>
    </div>

    <div class="col-sm-3 item"> <!-- 1 -->
     <i class="fa fa-code"></i>
      <h2>No hassle web maintenance</h2>
    </div>
    
    <div class="col-sm-3 item"> <!-- 1 -->
     <i class="fa fa-users"></i>
      <h2>Strategy & tactics</h2>
    </div>
    
    <div class="col-sm-3 item"> <!-- 2 -->
     <i class="fa fa-star-o"></i>
     <h2>Low monthly fee, no contract</h2>
    </div>
   
   </div> <!-- End row -->
  </div> <!-- End container -->
 </section> <!-- End services -->
 

<section class="testimonials">
  <div class="container">
    <div class="media">
      <div class="pull-left testimonials-icon">
        <i class="media-object fa fa-quote-left fa-5x"></i>
      </div>
      <div class="media-body">
        <p>Shrine takes your website to the next level without the hassle of expensive agencies or full-time employees.</p>
        <!-- <span class="name">&mdash; <a href="https://blog.kissmetrics.com/loading-time/">KISSmetrics</a></span> -->
      </div>
    </div>
 
  </div> 
 </section>