<section id="who">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
       <div class="header">
        <div class="media">
          <div class="pull-left">
            <img src="images/mad.jpg" alt="Malissa Drouillard" class="img-circle" width="150px">
          </div>
          <div class="media-body">
            <h2 class="media-heading">Web Expert</h2>
              <h3>Malissa Drouillard</h3>
              <p>Developer for start-ups in San Francisco & Detroit</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="header">
        <div class="media">
          <div class="pull-left">
            <img src="images/dad.jpg" alt="Douglas Drouillard" class="img-circle" width="150px">
          </div>
          <div class="media-body">
            <h2 class="media-heading">Technical Guru</h2>
              <h3>Douglas Drouillard</h3>
              <p>CTO - Gubernatorial Campaign</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <ul class="fa-ul">
          <li><h4><i class="fa-li fa fa-circle-o"></i>Website Maintenance</h4></li>
          <li><h4><i class="fa-li fa fa-circle-o"></i>Brand Consistency</h4></li>
          <li><h4><i class="fa-li fa fa-circle-o"></i>Cross browser support</h4></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul class="fa-ul">
          <li><h4><i class="fa-li fa fa-circle-o"></i>JS/jQuery/YUI</h4></li>
          <li><h4><i class="fa-li fa fa-circle-o"></i>WordPress</h4></li>
          <li><h4><i class="fa-li fa fa-circle-o"></i>Social plugins</h4></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul class="fa-ul">
          <li><h4><i class="fa-li fa fa-circle-o"></i>Customer Discovery</h4></li>
          <li><h4><i class="fa-li fa fa-circle-o"></i>Project Management</h4></li>
          <li><h4><i class="fa-li fa fa-circle-o"></i>Analytics &amp; A/B tests</h4></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul class="fa-ul">
          <li><h4><i class="fa-li fa fa-circle-o"></i>Cloud Infrastructure</h4></li>
          <li><h4><i class="fa-li fa fa-circle-o"></i>Full Stack</h4></li>
          <li><h4><i class="fa-li fa fa-circle-o"></i>Responsive design</h4></li>
        </ul>
      </div>
    </div>

  </div> <!-- End container -->
 </section> <!-- End what -->