 <!-- <div class="sep-border-main"></div> separator -->

 <section id="why">
  <div class="container">

    <div class="header">
      <h2>Why The Shrine Group?</h2>
      <!-- <p>K  Perfect for companies that need part-time help maintaining a professional web presence.</p> -->
       <p>Expert help, on demand, for a flat monthly rate.</p>
    </div>

    <div class="row">
    <div class="col-md-6">
     <h3>How it works:</h3>
     <p>Think of it as a health club for your website. A fast, fit, and attractive site is a successful site. We are experienced professionals that join your team and help you get there.</p>

     <p>Working with The Shrine Group is simple. Pay a flat monthly rate with an initial set-up fee and cancel at anytime with no penalty.</p>
    </div> <!-- End span6 -->
     
    <div class="col-md-6">
     <h3>What you get:</h3>
     
     <div class="balloon sm blue off"><div class="text">On Demand</div></div>
    </div> <!-- End span6 -->
   </div> <!-- End row -->
   
  </div> <!-- End container -->
 </section> <!-- End why -->