 <!-- <div class="sep-border-main"></div> separator -->

 <section id="why">
  <div class="container">

    <div class="header">
      <h2>Why The Shrine Group?</h2>
      <!-- <p>K  Perfect for companies that need part-time help maintaining a professional web presence.</p> -->
       <p>Expert help, on demand, for a flat monthly rate.</p>
    </div>

    <div class="row">
    <div class="col-md-4">
     <h3>How it works:</h3>
     <p>Think of it as a health club for your website. A fast, fit, and attractive site is a successful site. We are experienced professionals that join your team and help you get there.</p>

     <p>Working with The Shrine Group is simple. Pay a flat monthly rate with an initial set-up fee and cancel at anytime with no penalty.</p>
    </div> <!-- End span6 -->
     <div class="col-md-8">
       <h3 class="what-title"><span class="xs-block">What you get:</span>
        <span class="balloon-btn active" data-label="shrine">Shrine</span>
        <span class="balloon-btn" data-label="freelance">Freelance</span>
        <span class="balloon-btn" data-label="fte">FTE</span></h3>
       
       <div class="balloon lg orange shrine fte"><div class="text">Continuous Engagement</div></div>
       <div class="balloon lg red shrine fte"><div class="text">Knows You &<br/>Your Site</div></div>
       <div class="balloon md green shrine freelance"><div class="text">Scalable</div></div>
       <div class="balloon sm blue shrine fte"><div class="text">On Demand</div></div>
       <div class="balloon md red freelance shrine freelance"><div class="text">Low Overhead</div></div>
       <div class="balloon sm green shrine"><div class="text">Free Site Diagnostic</div></div>
       <div class="balloon sm orange shrine"><div class="text">Easy<br/>Start</div></div>
       
       
    </div>
    
   </div> <!-- End row -->
   
  </div> <!-- End container -->
 </section> <!-- End why -->